* {
    box-sizing: border-box;

    --color-primary-0: #360000;
    --color-primary-1: #2A0000;
    --color-primary-2: #460303;
    --color-primary-3: #730000;
    --color-primary-4: #fc0000;

    --background-form-1: rgba(15, 15, 15, 0.623);
}

body {
    margin: auto;
    background-image: url("../img/background-sombre.png");
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--color-primary-4);
    /*display: grid;
    grid-template-rows: 1fr 3fr 1fr;
    grid-row-gap: 20px;*/
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Menu de navigation */
nav {
    margin: 20px 0;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

nav li {
    flex: 1 1 auto;
    position: relative;
}

nav a {
    display: block;
    padding: 15px;
    margin: 0 15px;
    background-color: var(--color-primary-0);
    text-align: center;
    color: var(--color-primary-4);
    text-decoration: none;
    position: relative;
}

nav a:hover {
    background-color: var(--color-primary-3);
}

nav ul ul {
    display: block;
    width: 100%;
    position: absolute;
    left: 0;
    transform: scaleY(0);
    transform-origin: 50% 0;
}

nav li:hover ul {
    display: block;
    z-index: 3;
    transform: scaleY(1);
    transition: transform 0.5s ease;
}

nav ul ul a {
    text-align: left;
}

nav img {
    height: 100px;
    width: auto;
}

.accueil a {
    background-color: inherit;
}

.accueil a:hover {
    background-color: inherit;
}

.recherche>li {
    margin-bottom: 18px;
}

.menu-deroulant {
    margin: 40px 0;
}

#rechercheavancee {
    margin-top: 0;
}

/* Fin du menu */

/* Footer */
footer {
    padding: 0px 10px 0 10px;
    display: flex;
    justify-content: space-between;
}

footer a {
    text-decoration: none;
}

footer a:visited {
    color: #fc0000;
}
/* Fin du footer */

/* Main */
main {
    text-align: center;
    flex: auto;
}

main h1,
main p {
    font-size: 64px;
}

/* Mise en page des formulaires */
.form {
    width: 900px;
    margin: auto;
    padding: 10px 0 10px 30px;
    background-color: var(--background-form-1);
    border-radius: 20px;
    text-align: left;
}

.form h1 {
    font-size: 32px;
}

.form form div {
    padding: 10px 30px;
    display: flex;
    align-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.form form div label {
    padding-right: 10px;
}

.form form div:last-of-type {
    flex-direction: row;
    justify-content: center;
    padding: 20px 0;
}

.form form div:last-of-type input {
    padding: 10px;
    margin: 0 10px;
    border-radius: 15px;
    transition: background-color 1000ms;
}

.form form div:last-of-type input:hover,
.form li form button:hover {
    cursor: pointer;
    background-color: #fc0000;
}

#listRadio {
    padding: 20px 0;
}

#listRadio div {
    padding: 0 40px 0 0;
}

#list {
    display: flex;
    flex-direction: column;
    padding-top: 0;
}

#list div {
    padding-top: 0;
}

.form li form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px 10px 0;
}

.form li form button {
    padding: 5px 10px;
    border-radius: 15px;
    transition: background-color 1000ms;
}

aside p {
    font-size: 24px;
}