
body {
    margin: 0;
    background-image: url("../img/gif404.gif");
    background-size: cover;
    background-repeat: no-repeat;
}

p {
    color: #fff;
    font-size: 42px;
    position: absolute;
    bottom: 0px;
    left: 30px;
    opacity: 75%;
}